@()

@main("compare") {

                                        <!-- CTA Box -->
						<form id="playlistUploadForm" method="post" action="/upload" enctype="multipart/form-data">
							<input type="hidden" id="operation" name="operation" value="comparelibraries"/>
                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="cta-box">
                                                                @if(flash.containsKey("error")){
																	<div class="error">@flash.get("error")</div>
																}
																	<h2>@Messages("compare.label.header")</h2>
																	<div class="input-row compare-upload">
																		<div class="helper-image-container">
																			<a class="helper-image" href="/assets/images/itunes.windows.export.png" title="@Messages("upload.label.export")"><img src="/assets/images/question.png"></a> 
																		</div>
																		<div class="file-upload-group">
																			<div class="file-upload-container">
																				<label for="firstUploadFile">@Messages("filter.label.firstlibrary")</label>
																				<input id="firstUploadFile" class="file-input" type="file" name="firstLibrary" required>
																			</div>
																			<div class="file-upload-container">
																				<label for="secondUploadFile">@Messages("filter.label.secondlibrary")</label>
																				<input id="secondUploadFile" class="file-input" type="file" name="secondLibrary" required>
																			</div>
																		</div>
																		<div class="file-upload-button">
																			<input class="button playlistUploadButton" type="submit" value="@Messages("upload.button.upload")" disabled>
																		</div>
																		<div style="clear: both;"></div>
																	</div>
                                                </div>
                                                        </div>
                                                </div>
						</form>
                                        <!-- Divider -->

}
