@(uuid: String)

@main("download") {

                                        <!-- Highlight Box -->

                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="cta-box">
                                                                @if(flash.containsKey("error")){
																	<div class="error">@flash.get("error")</div>
																}
																	<h2>Download link</h2>
                                                                    <span><a href="/download/@(uuid)">click here to download the playlist</a></span>
                                                                </div>
                                                        </div>
                                                </div>

}
