@(title: String)

@main(title)("download") {

                                        <!-- Highlight Box -->

                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="highlight-box">
                                                                        <h2>Download link</h2>
                                                                        <span><a href="#">click here to download the playlist</a></span>
                                                                </div>
                                                        </div>
                                                </div>

}
