@(title: String)(message: String)

@main(title)("home") {

                                        <!-- CTA Box -->

                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="cta-box">
                                                                        <span>Amet lorem varius tempus consequat lorem?</span>
                                                                        <a href="#" class="button">Ipsum Consequat</a>
                                                                </div>
                                                        </div>
                                                </div>

                                        <!-- Divider -->

}
