@(codes: List[String])

@main("home") {

                                        <!-- CTA Box -->
						<form id="playlistUploadForm" method="post" action="/upload" enctype="multipart/form-data">
                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="cta-box">
                                                                @if(flash.containsKey("error")){
																	<div class="error">@flash.get("error")</div>
																}
																	<h2>@Messages("upload.label.header")</h2>
																	<div class="input-row">
																		<a id="exportExample" href="/assets/images/itunes.windows.png" title="@Messages("upload.label.image")"><img src="/assets/images/question.png"></a> 
																		<input id="playlistUploadFile" type="file" name="library" required>
																		<input class="button playlistUploadButton" type="submit" value="@Messages("upload.button.upload")" disabled>
																	</div>
																	<div class="input-row">
																	@for(code <- codes) {
																		<label class="row-option"><input type="checkbox" id="@code" name="@code" value="most" checked> @Messages("filter.label." + code)</label>
																		<label>@Messages("upload.label.limit") <input type="number" id="@code.concat("_limit")" maxlength="5" min="0" name="@code.concat("_limit")" size="5"></label>
																	}
																	</div>
                                                                </div>
                                                        </div>
                                                </div>
						</form>
                                        <!-- Divider -->

}
