@(title: String)(section: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/config.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/skel.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/skel-panels.min.js")" type="text/javascript"></script>
    </head>
    <body>
		<!-- Header -->

			<div id="header-wrapper">
				<header class="container" id="site-header">
					<div class="row">
						<div class="12u">
							<div id="logo">
								<h1>Smarter Playlists</h1>
							</div>
							<nav id="nav">
								<ul>
									<li @if(section.equals("home")){ class="current_page_item"}><a href="/">@Messages("nav.home")</a></li>
									@if(section.equals("download")){<li class="current_page_item">@Messages("nav.download")</li>}
									<li @if(section.equals("about")){ class="current_page_item"}><a href="/about">@Messages("nav.about")</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

		<!-- Main -->

			<div id="main-wrapper">
				<div class="container">
@content
				</div>
			</div>

		<!-- Footer -->

			<div id="footer-wrapper">
				<footer class="container" id="site-footer">
					<div class="row">
						<div class="12u">
							<div class="divider"></div>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
								&copy; Ben Levy. @Messages("footer.rights") | @Messages("footer.design"): <a href="http://html5up.net" target="_blank">HTML5 UP</a>
							</div>
						</div>
					</div>
				</footer>
			</div>
    </body>
</html>
